section
    h2 Mais um exemplo
    p
        a(href="http://shiz.co/aav/") Logo Awesome AudioViz 
        | por 
        a(href="http://shiz.co/") Márcio Ribeiro
    img(src="img/awesome-audioviz.png", alt="Awesome AudioViz Logo")