section
    h1.main-title 
        | JS
        span#heart.heart
        | MUSIC
    p.main-links
        a(href="http://willianjusten.com.br/") Willian Justen 
        | / 
        a(href="https://twitter.com/Willian_justen") @willianjusten
    p.fragment

script.
    Reveal.addEventListener( 'fragmentshown', function( event ) {
        heartBeat();
    });
