doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/intro
                include ../slides/intro-highlight
                include ../slides/audio-viz
                include ../slides/visualizers
                include ../slides/example-1
                include ../slides/example-2
                include ../slides/visualizers-explanation
                include ../slides/dsp-explanation
                include ../slides/tl-dr
                include ../slides/dsp-simplificado
        include inc/scripts
